ion-toolbar{
    --background: #ff6000;
    color: white;
}
ion-title{
    font-size: 1.4rem; 
    font-weight: normal;
    text-align: left;
}
ion-button{
    --background: #FF6000;
    --background-activated: #d35100;
    font-size: 20px;
}
h1{
    font-size: 30px;
}

