<ion-header>
  <ion-toolbar>
    <!-- Boton de volver, start para que este al principio del header -->
    <ion-button slot="start" (click)="backToHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>Reservación</ion-title>

    <!-- Boton de pqrs, end para que este al final del header -->
    <ion-button slot="end" (click)="goToPqrs()">
      <ion-icon name="help-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1><strong>Hola, Alexandra</strong></h1>
    <p>
      La siguiente información esta relacionada con tu codigo de reserva
      <strong class="codigo">AAA-11</strong>
    </p>

    <!-- Card que contiene el nombre, fecha e imagen de la reserva -->
    <app-card-reservation></app-card-reservation>

    <app-button
      label="solicitar soporte"
      fill="outline"
      (onTap)="callSupport()"
    ></app-button>

    <h1 class="h1-preguntas"><strong>Preguntas frecuentes</strong></h1>
    <p>Dudas que pueden tener nuestros visitantes y que te van hacer util.</p>

    <p class="p-preguntas">- ¿Puedo cancelar mi reserva?</p>
  </div>
</ion-content>
