<ion-header >
  <ion-toolbar>

    <ion-button slot="start" (click)="backToHome()">

      <ion-icon name="arrow-back"></ion-icon>

    </ion-button>

    <ion-title>Reservación</ion-title>

    <ion-button slot="end" (click)="goToPqrs()">

      <ion-icon  name="help-circle-outline"></ion-icon>

    </ion-button>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="container">
      <h1>Hola, Alexandra</h1>
      <p>La siguiente información esta relacionada con tu codigo de reserva <strong>AAA-11</strong></p>

      <ion-card>
        
        <ion-card-header>
          <ion-card-subtitle><ion-icon name="calendar-clear-outline"></ion-icon> 19 Jun 2022 - 24 jun 2022</ion-card-subtitle>
          <ion-card-title>Picnic Familiar</ion-card-title>
        </ion-card-header>
        <img alt="" src="assets/img/img-cardd.webp" />
      </ion-card>
  </div>

</ion-content>