ion-toolbar{
    --background: #ff6000;
    color: white;
}
ion-title{
    font-size: 1.4rem; 
    font-weight: normal;
    text-align: left;
}
ion-button{
    --background: #FF6000;
    --background-activated: #ff9554;
    font-size: 20px;
    color: white;
}
.container{
    margin: 20px;

    .codigo{
        color: #303030;
    }
    .h1-preguntas{
        font-size: 20px;
    }
    p{
        color: #777777;
    }
    .p-preguntas{
        color: #FF6000;
    }
}


