<ion-card mode="ios">
  <ion-card-header>
    <ion-card-subtitle
      ><ion-icon name="calendar-clear-outline"></ion-icon> {{ formattedInitialDate }} - {{ formattedFinalDate }} </ion-card-subtitle
    >
    <ion-card-title>{{booking.tittle}}</ion-card-title>
  </ion-card-header>
  <img alt="" [src]="loadImg(booking.url)" />
  <app-rates [rating]="3" (onTapRate)="onTapRate($event)"></app-rates>
</ion-card>

<app-modal-sheet [isOpen]="isOpenModal" (onWillDismiss)="isOpenModal=false">
  <h1>mi contenido</h1>
</app-modal-sheet>
