.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-searchbar {
  --background: #f4f4f4;
  width: 100%;
}

.background-image {
  background-image: url('../../assets/img/fondo.png');
}

.searchbar-label {
  font-size: 22px;
  margin-bottom: 0px; 
  margin-right: 50%;
  color: white;
}
ion-button{
  --background: #FF6000;
  --background-activated: #d35100;
  color: white;
  font-size: 18px;
}
